@use '../vendor/media-queries';
@use '../abstracts/variables';
@use '../abstracts/mixins';


body {
    background: variables.$clr-dark-grey;
}

.row {
    width: none;
    max-width: none;
}

p {
    @include mixins.set-font(variables.$ffs, variables.$fw-regular, variables.$fs-xxsm, variables.$clr-white);
    padding: 0;
    margin: 0;
}

label {
    @include mixins.set-font(variables.$ff, variables.$fw-regular, variables.$fs-xxsm, variables.$clr-white);
}

input {
    @include mixins.set-font(variables.$ffs, variables.$fw-regular, variables.$fs-xxsm, variables.$clr-white);
}

a {
    text-decoration: none;
    color: variables.$clr-white;
}

a:hover {
    color: variables.$clr-orange
}


h2 {
    @include mixins.set-font(variables.$ff, variables.$fw-regular, variables.$fs-lg, variables.$clr-white);

    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-xxxsm;
        margin-right: 5rem;
    }
}

.red-h2 {
    color: variables.$clr-red;
}

h3 {
    @include mixins.set-font(variables.$ff, variables.$fw-regular, variables.$fs-med, variables.$clr-white);
    margin: auto;
    margin-top: 1rem;

    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 1rem;
        font-size: variables.$fs-xxsm;
        margin-right: 5rem;
    }
}

h4 {
    @include mixins.set-font(variables.$ff, variables.$fw-regular, variables.$fs-sm, variables.$clr-white);

    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-xxxsm;
        margin-right: 5rem;
    }
}

h5 {
    @include mixins.set-font(variables.$ff, variables.$fw-regular, variables.$fs-xsm, variables.$clr-white);
    margin: 0.5rem 0 0;
    line-height: 3rem;

    // @include media-queries.respond-to(media-queries.$phone) {
    //     font-size: variables.$fs-xxxsm;
    //     margin-right: 5rem;
    // }
}

.h5 {
    @include mixins.set-font(variables.$ffs, variables.$fw-regular, variables.$fs-xxsm, variables.$clr-white);
    margin-top: 1rem;
    margin-bottom: 2rem;

}

h6 {
    @include mixins.set-font(variables.$ffs, variables.$fw-regular, variables.$fs-xxsm, variables.$clr-white);
    margin: 0.5rem 0 0;
    line-height: 3rem;

    @include media-queries.respond-to(media-queries.$phone) {
        font-size: variables.$fs-xxxsm;
        margin-right: 5rem;
    }
}

.h6-foot {

    @include media-queries.respond-to(media-queries.$phone) {
        margin: 0.5rem 0 0;
        line-height: 3rem;
        margin-left: 5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }


}






.orange {
    color: variables.$clr-orange;
}

.white {
    color: variables.$clr-white;
}

// VOY POR AQUIIII



.content {
    @include mixins.set-font(variables.$ff, variables.$fw-regular, variables.$fs-sm, variables.$clr-white);
    margin-bottom: 1rem;

    @include media-queries.respond-to(media-queries.$phone) {
        padding: 0;
        width: 100%;
    }
}