@use '../vendor/media-queries';
@use '../abstracts/variables';



.container {
    display: grid;
}

.row {
    display: flex;
    flex-wrap: wrap;


    @include media-queries.respond-to(media-queries.$phone) {
        display: grid;
    }
}

.col {
    flex: 1 0 0%;
}

.pl {
    padding: 3rem;

    @include media-queries.respond-to(media-queries.$phone) {
        padding: 0;
    }
}

.m-y {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mtb {
    margin-left: 52rem;
    margin-top: 16rem;
    
    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 1rem;
        width: 90%;
        margin-right: 3rem;
        margin-top: 8rem;
    }
}