@use '../vendor/media-queries';
@use '../abstracts/variables';
@use '../abstracts/mixins';



.container {
    display: grid;
}

.row {
    display: flex;
    flex-wrap: wrap;


    @include media-queries.respond-to(media-queries.$phone) {
        
    }
}

.col {
    flex: 1 0 0%;
}

.pl {
    padding: 3rem;

    @include media-queries.respond-to(media-queries.$phone) {
        padding: 0;
    }
}

.m-y {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mtb {
    margin-left: 52rem;
    margin-top: 16rem;
    color: variables.$clr-white;

    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 1rem;
        width: 90%;
        margin-right: 3rem;
        margin-top: 8rem;

        .h3-grid {
            font-size: variables.$fs-sm;
            color: variables.$clr-white;
        }

        .h5 {
            font-size: variables.$fs-xxsm;
            color: variables.$clr-white;
        }
    }
}

.mtb2 {
    margin-left: 48rem;
    margin-top: 8rem;
    color: variables.$clr-white;

    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 1rem;
        width: 90%;
        margin-right: 3rem;
        margin-top: 8rem;

        .h3-grid {
            font-size: variables.$fs-sm;
            color: variables.$clr-white;
        }

        .h5 {
            font-size: variables.$fs-xxsm;
            color: variables.$clr-white;
        }
    }
}

.padd {
    padding: 3rem;
}

.m-nav {
    margin-right: 4rem;
}

.navbar-brand{
    margin-left: 4rem;
}

.mt-heather{
    margin-top: 8rem;
}