@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../vendor/media-queries';

.container-selection-week{
    background: variables.$clr-dark-red-trans;
    box-shadow: 25px 25px 50px 0 variables.$clr-dark-grey inset, -25px -25px 50px 0 variables.$clr-dark-grey inset; 

}

.arrows{
    width: 0%;
}

.featured-card{
    padding: 1rem;   
    margin-bottom: 2rem; 
}

.best-card{
    @include mixins.btn(variables.$clr-light-grey, variables.$clr-light-grey, variables.$clr-dark);  
    margin-bottom: 2rem; 
}

.card-recipe{
    border-radius: 3rem; 
}

.best-recipes{
    background: variables.$clr-light-grey;
    margin: 1rem;
    
}

:hover.card-recipe.text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height:40px;
 }

:hover.carousel-cell{
    transform: scale(50%);

    background-color: variables.$clr-red;
}

:hover.ul{
    visibility: collapse;
}

.container-grey {
    background: variables.$clr-grey;
}


.container-grey-details {
    background: variables.$clr-light-grey;
    border-radius: 3rem;
    margin-left: 3rem;

    @include media-queries.respond-to(media-queries.$phone) {
        margin-left: 1rem;
    }
}



