img {
    display: block;
    max-width: 100%;
}

.m-image{
    margin-top: 6rem;
    margin-left: 1rem;
    width: 92%;
}

.container-img {
    max-width: 100%;
    min-height: 768px;
}
.container-img2 {
    max-width: 20%;

}